alias mnt="mount | awk -F' ' '{ printf \"%s\t%s\n\",\$1,\$3; }' | column -t | egrep ^/dev/ | sort"
alias hg='history|grep'
alias left='ls -t -1'
alias cg='cd `git rev-parse --show-toplevel`'

# navigation
alias ls='ls -G'
alias ll='ls -lh'
alias la='ls -lah'
alias lsd='ls -l | grep "^d"'

# goto shortcuts
alias goto_home='cd ~/'
alias goto_src='cd ~/Source/'
alias goto_cfg='cd ~/Configuration'

# python
alias viva='source venv/bin/activate'
alias diva='deactivate'
alias pr='pipenv run'

# custom
alias tf='/usr/local/bin/terraform'

# This alias reloads this file
alias reload_profile='. ~/.zshrc'
